a{
  color: #000;
}

main{
  padding-top: 30px;
}

.no-scroll {
  //height: 100%;
  overflow: hidden;
}

// carousel to be at right height
.msacwl-carousel-slide a{
  height: inherit!important;
  display: block;
}