a{
  color: #000;
}

main{
  //margin for fixed header height
  padding-top: 165px;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

// carousel to be at right height
.msacwl-carousel-slide a{height:285px!important; display:block;}