@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "common/fonts";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "components/mixins";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/nav";
@import "layouts/pages";
@import "layouts/apropos";
@import "layouts/contact";
@import "layouts/posts";
@import "layouts/tinymce";

html, body{
  /* ligature activées */
  text-rendering : optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  /* rendu noir et blanc de l'antialiasing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* pas d’hyphens */
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  /* réglage des fonts par défaut */
  font-family: "Jannon Sans";
  font-size: 27px;
  padding-bottom: 50px;
}

#introduction {
  display: none; // will be shown using javascript if user has js enabled
  position: absolute;
  z-index: 98;
  top: 150px;
  left: 0;
  width: 100%;
  height: calc(100vh - 150px);
  background-color: #fff;
;
}
#accueil {
  position: relative;
  top: calc(50% - 75px);
  max-width: 580px;
  height: auto;
  left: 50%;
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  @include mq($from: mobile, $until:tablet) {
    max-width: 100%;

  }
}
.hover{
  a{
    p.date{
      display: none;
    }
    h2.entry-title{
      display: none;
    }
    div.entry-summary{
      display: none;
    }
    .hoverimg{
      display: block!important;
    }
  }
}
main, .apropos, .contact{
  padding-right: 7px!important;
  padding-left: 7px!important;
}
main.home, .filmslongs, .filmscourts, .projets, .movies{
  article{
    display: inline-block;
    height: 285px;
    width: 190px;
    position: relative;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;

    @media (min-width: 320px) and (max-width: 436px){
      width: calc((50% - 14px));
      margin-bottom: 0;
      margin-top: 0;
    }

    a{
      text-decoration: none;
      color: #000;

      .hoverimg{
        display: none;
      }
      img{
        max-width: 100%;
      }

      p.date{
        font-weight: bold;
        @include font-size(9px);
        margin-bottom: 0;
      }

      h2{
        font-weight: bold;
        @include font-size(14px);
        a:hover{
          color: #000;
        }
      }

      div.entry-summary{
        @include font-size(9px);
        p{
          margin-bottom: 0;
        }
      }

      &:hover{
        h2{
          text-decoration: underline;
        }
      }
    }
  }
}

// bootstrap grid adaptation
@media (min-width: 437px) and (max-width: 640px){
  .container {
    max-width: 422px;
  }
}

@media (min-width: 640px) and (max-width: 994px){
  .container {
    max-width: 626px;
  }
}

@media (min-width: 994px) and (max-width: 1109px){
  .container {
    max-width: 830px;
  }
}

@media (min-width: 1109px) and (max-width: 1254px){
  .container {
    max-width: 1034px;
  }
}

@media (min-width: 1254px) {
  .container {
    max-width: 1254px;
  }
}

