@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "common/global";
@import "common/fonts";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "components/mixins";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/nav";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

html, body{
  /* ligature activées */
  text-rendering : optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  /* rendu noir et blanc de l'antialiasing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* pas d’hyphens */
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  /* réglage des fonts par défaut */
  font-family: "Jannon Sans";
  font-size: 28px;
}



a{
  color: #000;
}
main{
  //margin for fixed header height
  padding-top: 150px;
}
main.home{
  article{
    display: inline-block;
    height: 285px;
    width: 190px;
    position: relative;
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    time{
      font-weight: bold;
      @include font-size(9px);
    }
    h2{
      font-weight: bold;
      @include font-size(16px);
    }
    div.entry-summary{
      @include font-size(9px);
      p{
        margin-bottom: 0;
      }
    }
  }
}

// bootstrap wrapper accept 6 columns instead of 5
@media (min-width: 1200px){
  .container {
    max-width: 1254px;
  }
}