div.contact{
  .deuxcolonnes{
    width: 300px;
    margin-right: 14px;
    float: left;

    @include font-size(12px);

    p{
      margin-bottom: 0;
      a{
        font-weight: bold;
        &:hover{
          color: #000;
        }
      }
    }
  }
}