article.post{

  .col1{
    width: 190px;
    margin-right: 14px;
    margin-bottom: 14px;
    float: left;
    min-height: 800px;

    p{
      @include font-size(9px);
      margin-bottom: 0;
    }
    h1{
      @include font-size(16px);
      font-weight: bold;
    }
    p.author{
      font-weight: bold;
      span.book{
        font-weight: normal;
      }
    }
  }


  .col2{
    width: 190px;
    height: 285px;
    background-color: #dedede;
    margin-right: 14px;
    margin-bottom: 14px;
    float: left;
  }

  .col3{
    width: 598px;
    height: 285px;
    margin-right: 14px;
    margin-bottom: 14px;
    float: left;
  }
  .entry-content{
    float: left;
    width: 802px;
    //max-height: 10em;
    height: 15em;
    //min-height: 6em;
    @include font-size(14px);
    line-height: 130%;

    //colonnes

    -webkit-columns: 394px 2;
    -moz-columns: 394px 2;
    columns: 394px 2;

    -webkit-column-gap: 14px;
    -moz-column-gap: 14px;
    column-gap: 14px;

    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }
  hr{
    clear: both;
    float: none;
    background-color: #000;
    margin-bottom: 3rem;
  }
}